@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --op-var: 0.5;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/globals.css */
.card-gradient {
  position: relative;
  border-radius: 1rem;           /* 16px */
  padding: 1px;                   /* viền dày hơn cho dễ thấy */
  background: linear-gradient(
    135deg,
    #0ea5e9,
    #6366f1,
    #ec4899
  );
  margin-bottom: 1.5rem;         /* tách khỏi phần header bên dưới */
}

.card-gradient-inner {
  border-radius: inherit;
  background-color: white;
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center m-10 
      rounded-lg
      bg-slate-900 text-white
      px-4 py-2
      text-sm font-medium
      shadow-sm
      hover:bg-slate-800
      focus:outline-none focus-visible:ring-2
      focus-visible:ring-slate-400
      focus-visible:ring-offset-2
      focus-visible:ring-offset-white;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center
      rounded-lg
      border border-slate-300
      bg-white text-slate-800
      px-4 py-2
      text-sm font-medium
      hover:bg-slate-50;
  }

  .block-image-text-container {
    @apply w-full max-w-[1270px] ml-auto mr-auto;
  }

  .block-image-text {
    /* 2 cột bằng nhau từ md trở lên, gap 20px (~gap-5) */
    @apply grid gap-5 md:grid-cols-[40%_60%] xl:grid-cols-[50%_50%] items-start;
  }

  .text-content {
    @apply flex flex-row-reverse space-x-reverse space-x-[10px] space-y-[10px] flex-wrap max-w-[300px]; 
  }

  .number-box {
    @apply w-[50px] h-[50px] rounded-[10px] flex items-center justify-center
      text-white font-normal text-[16px] bg-red-500 opacity-(--op-var)
  }

  
}