@import "tailwindcss";

@layer components {
    .product-list {
        @apply flex flex-wrap w-[500px] ml-auto mr-auto mt-5;  
    }

    .input-wrap {
        @apply flex flex-wrap w-[500px] ml-auto mr-auto mt-5; 
    }

    .input-wrap label {
        @apply w-full text-teal-500 capitalize;
        
    }

    .input-wrap input {
        @apply border-black border-2 p-2 rounded-[10px];
    }

    .input-wrap button {
        @apply bg-black text-white ml-2 p-3 hover:bg-red-500 cursor-pointer rounded-[10px];
    }
}